---
pagination:
    data: collections.posts
    size: 1
    alias: post
    before: partials-list
permalink: "partials/posts/{{ post.fileSlug }}/"
eleventyExcludeFromCollections: true
---
{{ post.content | safe }}